<form>
	<fieldset>

		<legend>{{#unless editing}}New Challenge{{else}}Edit Challenge{{/unless}}</legend>

		<label for="challenge-name">Name</label>
		<input type="text" id="challenge-name" value="{{name}}">

		<label for="challenge-category">Category</label>
		<input type="text" id="challenge-category" value="{{category}}">

		<label for="challenge-points">Points</label>
		<input type="text" id="challenge-points" value="{{points}}">

		<label for="challenge-target">Target</label>
		<input type="text" id="challenge-target" value="{{target}}">

		<label for="challenge-desc">Description</label>
		<textarea id="challenge-desc">{{description}}</textarea>

		<label for="challenge-flag">Flag</label>
		<input type="text" id="challenge-flag" value="{{flag}}">

		<label for="challenge-locked" class="checkbox">
			<input type="checkbox" id="challenge-locked" {{#if locked}}checked{{/if}}> Locked
		</label>

		<button class="btn btn-primary btn-block">{{#unless editing}}Create{{else}}Update{{/unless}}</button>

	</fieldset>
</form>