<td><input type="checkbox"></td>
<td>{{name}}</td>
<td>{{category}}</td>
<td>{{points}}</td>
<td>{{description}}</td>
<td>{{target}}</td>
<td>{{#if locked}}<i class="icon-lock"></i>{{else}}<i class="icon-unlock"></i>{{/if}}&nbsp;</td>