<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>CTF | Gameboard</title>
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <h1>Gameboard</h1>
  <hr />
  <h2>Challenges</h2>
  <ul>
    {{#challenges}}
      {{#unless locked}}
        <li>{{name}}</li>
      {{/unless}}
    {{/challenges}}
  </ul>
  <h2>Scores</h2>
  <ul>
    {{#scoreboard}}
      <li>{{team}} - {{points}}</li>
    {{/scoreboard}}
  </ul>

  <script>
    window.challenges = {{{stringify challenges true}}};
    window.scoreboard = {{{stringify scoreboard}}};
  </script>
</body>
</html>

